include LICENSE
include README.md
include requirements.txt
include pyproject.toml
recursive-include kotak_api_wn *.py
recursive-include kotak_api_wn/api *.csv
exclude docs/*
exclude tests/*
global-exclude __pycache__
global-exclude *.pyc
global-exclude *.pyo
